body{height:2000px} 
#logo_top,.i_w_f .hd,.iwfnp .hd,.i_w_f .ws_ft,.iwfnp .ws_ft,#head,.np0,.j1,.j2,.j3,.j4,.wosh,.wsp,.ws1 .c1,.ws1 .c3,.ws2 .c1,.ws2 .c3{background:url(http://img.guangbaobei.net/site_img/l2.gif) no-repeat} 
.app_sidebar{vertical-align:top;width:200px}
.app_sidebar .col{position:absolute;left:14px} 
#tb1{width:100%;height:100%} 
#content {vertical-align:top;padding-top:55px}
ol,ul{list-style:none}
:focus{outline:none} 
#logo_top{position:relative;z-index:1011}
#logo{top:97px;left:13px;position:absolute;background:url(http://img.guangbaobei.net/site_img/logos.png) no-repeat;width:174px;height:62px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='http://img.guangbaobei.net/site_img/logos.png');}
#logo_top{position:absolute;cursor:pointer;width:174px;height:92px;left:8px} 
#logo_top table{width:110px;height:62px}
#logo_top td{text-align: center;vertical-align:middle;font:12px/1.4 '宋体';color:#A6A094}
#top_in{padding:18px 0 0 22px}
.f14{font:14px/1.4 '宋体'}
.r3{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.fl{float:left;display:inline;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both}
.clearfix{zoom:1;}
.iw1{padding-left:22px;position:relative;min-height:1000px;font-size:12px;overflow:hidden} 
.iw1 .col{width:225px;margin-right:5px;float:left}
.iw1 .col.mr0{margin-right:0} 
.i_w_f .clrff8{color:#ff89a7}
.i_w_f,.iwfnp{width:225px;position:relative;margin-bottom:5px}
.i_w_f .hd,.iwfnp .hd{background-position:3px -96px;height:16px;font-size:0}
.i_w_f .ft,.iwfnp .ft{/*background:url(http://img.guangbaobei.net/site_img/bf_ft_w_225x5.png) no-repeat;*/height:5px;font-size:0;}
.i_w_f .ws_ft,.iwfnp .ws_ft{background-position:3px -116px;height:19px;font-size:0}
.bd{background:url(http://img.guangbaobei.net/site_img/ibg_04.gif) repeat-y;_padding-bottom:3px;padding-bottom:2px\9}  
.pf{position:absolute;left:18px;top:22px;z-index:100;display:none} 
.i_w_f .pic,.iwfnp .pic{clear:both} 
.i_w_f .pic li,.iwfnp .pic li{overflow:hidden;margin:0 12px;padding-top:6px;text-align:center} 
.i_w_f .pic img,.iwfnp .pic img{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;width:170px} 
.i_w_f .pic .p,.iwfnp .pic .p{color:#fff;position:absolute;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;display:block;height:16px;padding:0 2px;line-height:16px;bottom:5px;right:5px;_bottom:auto;_margin-top:-35px;}
.i_w_f .pic li .p{_background-color:#000;} 
.clr6{font:12px/1.4 '宋体'}
.f14{font:14px/1.0 '宋体'} 
.ib1 .r img,.ib2 .r img{}
.ib1{padding:2px 13px 5px 12px;background:#fff;overflow:hidden;zoom:1;}
.ib1 .t{font-size:14px;color:#F16397;padding:0 5px} 
.likeadding{border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;background-color:#F16397;color:#fff;display:inline-block;height: 26px;line-height: 26px;text-align: center;vertical-align: middle;padding:0 8px 0 8px}
.ib1 .b{font-size:12px;color:#282425;padding:5px 5px}
.ib1 .t *{vertical-align:middle;}
.ib1 .b *{vertical-align:middle;}
.ib1 .b span,.ib1 .t span{float:left;display:block;} 
.ib1 .l,.ib1 .r{float:left}
.ib1 .l{width:120px}
.ib1 .l div{height:26px}
.ib1 .r{padding:12px}
.ib2{padding: 7px 21px 8px 20px;zoom:1}
.ib2 .r{margin-left:39px;}
.ib2 .n{display:block;color:#DC5B21;font-size:16px;font-weight:bold;padding-bottom:2px}
.ib2 .n:hover{text-decoration:none;}
.ib2 .avt{margin:0 0 0 0;}
#head{width:auto;height:228px;background-position:0 -137px}
#pdao{
	text-align:center;line-height:19px;*line-height:30px;*height:32px;
} 
#pdao h1{
	color:#C9B67A; 
    font-size:18px; 
    text-shadow:0 1px 0 #FFFFFF;
	_color:#D5C38D;
	_font-family:黑体
}

#head .pages{padding:174px 0 0;width:920px;text-align:center}
#head .pgbb{padding-top:143px;visibility:hidden}
.pages {clear: both;color: #D1C192;font-size:14px} 
.hi1 h3{visibility:hidden}
.zui{padding:3px 0 0 80px}  
#head .pages .active{background:url(http://img.guangbaobei.net/site_img/page3.gif) no-repeat}
.pages .active {width:27px;height:38px;cursor:default} 
.jtico{float:left}
#npend{display:none} 
#nptmp{position:absolute;left:-900px;top:-100000px}  
.lmm{margin: 60px 0 100px 70px} 
.lmm div a{display:block;width:69px;height:83px;background:url(http://img.guangbaobei.net/site_img/lm2.gif) no-repeat} 
#agbb{background-position:-5px -43px}
#aha{background-position:-5px -267px}
#agrt{background-position:-5px -698px} 
#abg{background-position:39px -479px} 
#ady{background-position:-5px -1515px} 
#asc{background-position:-5px -900px}
#agz{background:none} 

#agbb:hover{background-position:-8px -153px}
#aha:hover{background-position:-6px -362px}
#agrt:hover{background-position:-5px -790px} 
#abg:hover{background-position:1px -579px}
#ady:hover{background-position:-8px -1615px} 
#asc:hover{background-position:-5px -989px}

.lmm .tl{position:relative;left:-45px}
.lmm .tl a{width:150px}
#lmend{height:30px} 
#scls{width:72px;padding:190px 0 0 180px} 
#scls img{cursor:pointer}
 
.np0{width:200px;height:192px;background-position:0 -449px}
.np0 div{padding:15px;font:12px/2.6 '宋体';color:#CCB186}
#footer{padding:0;text-align:center;clear:both;color:#B6AEA2;width:980px}
#footer a{color:#B6AEA2}
#footer img{position:relative;top:4px}  
.alt1
{
	border-collapse:collapse; 
	border:0;
	background-color:#FAF8EC; 
	width:100% 
}
.j1,.j2,.j3,.j4{width:11px;height:11px}  
.j1{background-position:0 -651px}
.j2{background-position:0 -668px}
.j3{background-position:0 -683px} 
.j4{background-position:2px -695px} 
.h1{background:url(http://img.guangbaobei.net/site_img/np_03.gif) repeat-x} 
.h2{background:url(http://img.guangbaobei.net/site_img/np_03.gif) repeat-x bottom} 
.l1{background:url(http://img.guangbaobei.net/site_img/np_09.gif) repeat-y} 
.l2{background:url(http://img.guangbaobei.net/site_img/np_09.gif) repeat-y right}
.alt1 td,.alt1 td a{color:#4A472F;_color:#656241;line-height:23px}
.alt1 .b,.alt1 .b a{color:#CDC195}
.wosh,.wsp{display:block;margin-left:4px;width:22px;height:20px;background-position:0 -735px} 
.wosh:hover,.wsp:hover{background-position:0 -713px}
.qql{width:21px;height:20px;
	display:inline-block;*display:inline;vertical-align:text-bottom;zoom:1;
	background:url(http://img.guangbaobei.net/site_img/qqs.gif) no-repeat 0 -3px} 
.wsp{position:absolute;left:100px;bottom:3px;_bottom:2px;display:none} 
.ws1{right:20px} 
.ws2{clear:both;left:20px}  
.ws1 .c1{width:6px;background-position:0 -757px} 
.ws1 .c2{color:#4A472F;vertical-align:bottom;background:url(http://img.guangbaobei.net/site_img/ws_04.gif) repeat-x}
.ws1 .c3{width:18px;background-position:0 -796px} 
.ws2 .c1{width:18px;background-position:0 -838px} 
.ws2 .c2{color:#fff;vertical-align:bottom;background:url(http://img.guangbaobei.net/site_img/ws_15.gif) repeat-x}
.ws2 .c3{width:6px;background-position:0 -875px} 
.ws1,.ws2{height:25px}
.ws2{z-index:1}
.ws1 .c2,.ws2 .c2{
	padding-bottom:5px 
}
.wsi .c2{padding:0}
.ws1 table{right:0}
.wsi{display:none}
#maskb{display:none;position:absolute;z-index:2000000;width:100%;left:0;top:0;background:#2D2D2D;}
#maska{display:none;position:absolute;z-index:2000001;width:500px;margin-left:-250px;min-height:100px;_height:100px;left:50%;top:200px;
	background:url(http://img.guangbaobei.net/site_img/qqb.png) no-repeat #444444 0 5px;
	_background:url(http://img.guangbaobei.net/site_img/qqb.gif) no-repeat #444444 0 5px; 
	border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px; 
	border:1px solid #585858; 
	padding:10px;
	padding-left:65px;
	font-size:15px;_font:14px/2 宋体; 
	color:#CCCCCC; 
	line-height:32px; 
	letter-spacing:2px
}
#maska span{
	color:#FC0815;
	font-size:12px;_font-size:14px; 
	border:2px solid #211F27;padding:0 3px;background-color:#FFB12F;letter-spacing:2px;padding:0 2px 1px 3px\9;_padding:4px 
}
#fcopy,#fc2{position:absolute;top:-100000px}
.bdlikebutton{display:none} 
.i_w_f .pic .np2,.iwfnp .pic .np2{margin-right:1px;width:200px}
.ib2 .s,.qql{visibility:hidden}
.ib2 .d{color:#C9B67A;text-shadow: 0 1px 0 #FFFFFF;padding:3px;}
.d2 .d{
	background:#F2FF77;
	color:red;
	border:2px solid #F85208;
	padding:1px; 
	text-shadow:1px 1px 1px #F5FF97;
	_padding-top:4px;
	border-radius:5px;
}
.ib2 .s,.d2 .s{
	white-space:nowrap;
	color:#98B5E8;
	border:1px solid #FAF8EC;
	text-shadow:none;
	background:#F7F9FD;
	padding:0 1px
}
.ib2 .s:hover{
	color:#fff;
	border:1px solid #FCC6AE;
	background:#98B5E8;
}
.d2 .qql,.d2 .s,.d2 .d{visibility:visible}
.d2 .s{_padding-top:2px;}
.ib2 .alt1 td{line-height:23px}
.lj1{width:22px}
.pl{padding:5px 0 0 0;text-align:left;letter-spacing:1px;_font-style:normal;width:165px} 
.p1,.p2 
{
    padding:1px 0 2px 10px;margin-bottom:4px
} 
.p1{border-left:1px solid #E9EAEB;color:#bbb} 
.p2{border-left:1px solid #E4DBBD;color:#BAB089}
.pl p span img,.pl p span{
	width:16px;height:16px;
}
.pl p span{
	padding:1px;
	border:1px solid #EFEFEF;
	display:inline-block;
	margin-right:2px;
	*display:inline;
	vertical-align: bottom;
	zoom:1
}
.npbar {
    cursor: pointer;
    margin: 0 22px; 
    width: 729px;
	display:none
}
.npbar a {
	background:#F85108;
    border:4px solid #FBC8B2;
    color: #FFF;
    display: block;
    font:700 14px/30px arial;
    height:29px;
    text-align:center;
    width:906px
}
.npbar a:hover {
	border: 4px solid #F85108;
	background:#fff;
	color:#F85108
}
.highlight{background-color:#FFFF88;color:#F81E08}
.alt1 .m,.alt1 .ipt,.tj3 a{
	display:inline-block;
	*zoom:1;
	*display:inline;
	vertical-align:top;
	border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
	background:#F6F3DF;
    border: 1px solid #EAE1AC;
    border-radius: 5px 5px 5px 5px;
    color: #B69C63;
    display: inline-block;
    margin: 3px 3px 1px;
    overflow: hidden;
    padding: 1px 6px;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 60px;
	box-shadow:none;
	line-height:23px;
	height:24px
}
.alt1 .ipt{
	width:140px;
}
.sch2{
	width:70px;
	border:none;
	border-bottom:solid 1px #EAE1AC;
	background:none;
	margin:0 0 0 7px;
	font-weight: bolder;
	text-align: center;
	height: 16px;
	line-height: 16px;
    color:#F85108
}
.schb2{
    background: url("http://img.guangbaobei.net/site_img/small.gif") no-repeat scroll 6px -266px #F6F3DF;
    border:none;
    cursor: pointer;
    height: 21px;
    text-indent: -9999px;
    width: 24px;
}
.alt1 .md
{
	border:2px solid #f85208;
	padding: 0 5px;
	color:red;
	background:#f2ff77;
	text-shadow:none;
}
.alt1 .m:hover,.tj3 a
{
	border: 1px solid #5889FF;
	color:#fff;
	padding: 1px 6px;
	background:#98B5E8;
	text-shadow:none;
	box-shadow: 0 0 1px 1px #FCC6AE;
}
.tj2,.tj3{display:none}
.tj3{
	z-index:20;
	position:absolute;
	width:106px;
	border-radius:6px;
	border:2px solid #F85208;
	padding:0 0 7px;
	background:#F2FF77;
	text-align:center
}
.tj3 a,.tj3 a:hover{
	box-shadow:none;
	border:none;
	background:none;
    font-weight:bold;
    height:20px;
    line-height:20px;
    margin:1px 3px;
    padding:0 3px;
    width:37px;
	color:#2049C6;
	text-align:left;
}
.tj3 a:hover{
	color:red;
}
.tj3 .xg,.tj3 .xg:hover{
	background:none;
    border:none;
    box-shadow:none;
    color:red;
    font-weight:bold;
	padding: 4px 0 0 5px;
	text-align:left
}
.adt1{
	overflow:hidden;
	width:198px;
	height:198px;
	margin:auto
}
.adt2{
	position:relative;top:-1px;left:-1px
}