#content{
vertical-align:middle;text-align:center 
}
#lwtc .c2 u,#lwtc2 .c2 u{color:#fff;font-weight:bold;height:25px;_height:24px;
	line-height:21px; 
	display: block;
    margin: 0 4px;
    position: relative;
    text-align: center;
    text-decoration:none;
	overflow:hidden
} 
#lwtc .c2 u{color:#CBC09E}
#content table{margin-left: auto;margin-right: auto;margin-top:10px}
.l_wtc{
	display:block; 
	left:0;
	position:static;
	top:0;
	width:auto 
}
.l_wtc .w2{
	background:transparent;
	_background:url("http://img.guangbaobei.net/site_img/ibg_04.gif"); 
	height:auto
}
.w2 .hh,.w2 .wh1,.w2 .wh2{width:198px}
body{height:auto}
#wtc2 .c5{display:none} 
.w2 a{width:130px;_width:124px} 
.w2 .lg{width:185px;_width:179px}
.iw1{width:920px;margin:auto} 